{
    "env": {
        "test": {
            "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
        }
    },
    "plugins": ["@babel/plugin-syntax-dynamic-import", "@vue/babel-plugin-transform-vue-jsx"]
}
