/**
 * First, inject Tailwind's base styles, which are a combination of
 * Normalize.css and some additional base styles.
 */

@tailwind base;


/**
 * Next, instruct Webpack to preserve the PurgeCSS ignore command
 * in the `production` environment.
 */

/*! purgecss start ignore */

/**
 * Next, install the Bulma base styles.
 */

@import 'bulma.scss';


/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@font-face {
    font-family: AROLY;
    src: url('/AROLY.ttf');
}

html {}

body {
    min-height: 100%;
}
#app {
    // height: 100%;
}


// brand
.adam-logo {
    border-radius: 50%;
    background-image: url('/adam.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// typography
.nav-link-white {
    @apply text-white font-aroly text-base leading-none tracking-wide;
    transition: all 250ms ease-in-out;
}
.nav-link-white:hover { @apply text-primary-200; }
.nav-link-white:active { @apply text-primary-100; }

@tailwind components;

@tailwind utilities;
