/**
 * First, inject Tailwind's base styles, which are a combination of
 * Normalize.css and some additional base styles.
 */

@tailwind base;


/**
 * Next, instruct Webpack to preserve the PurgeCSS ignore command
 * in the `production` environment.
 */

/*! purgecss start ignore */

/**
 * Next, install the Bulma base styles.
 */

@import 'bulma.scss';

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@font-face {
    font-family: AROLY;
    src: url('/AROLY.ttf');
}

html {
    font-size: 10px;
}

body {
    min-height: 100%;
    font-size: 1.6rem;
}
#app {
    // height: 100%;
    @apply flex flex-col w-full min-h-screen;
}


// brand
.adam-logo {
    border-radius: 50%;
    background-image: url('/adam.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// buttons
button {
    font-weight: bold;
}

// layout
hr {
    @apply bg-accent m-0 opacity-50;
}

// buefy
.dropdown-content {
    @apply .a-card;
}

// links
.nav-link-white {
    @apply text-white font-aroly text-base leading-none tracking-wide p-4 rounded-sm;
    background-color: rgba(7, 13, 13, 0.5);
    transition: all 250ms ease-in-out;
}
.nav-link-white:hover { @apply text-mint cursor-pointer; }
.nav-link-white:active { @apply text-mint-hover; }

.nav-link-white-active {
    @apply text-mint;
}


// cards
.a-card {
    background: rgba(29, 38, 47, 0.96);
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.32);
}

// @tailwind components;

// /*! purgecss end ignore */

@tailwind utilities;
